.proinfob{
    background-color:#161616;
    padding-bottom:100px;
    position:absolute;
    top:1500px;
}
#proinfoTitre{
    color:white;
    font-weight:bold;
    margin-bottom:30px;
}
#proinfoTitre1{
    color:white;
    font-weight:bold;
    font-size:18.5px;
}
#proinfoImg{
    vertical-align: middle;
    display: inline-block;
    width:180px;
    height: 180px;;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
#proinfoBar1{
    display:flex;
}
#proinfoDesc1{
    margin-top:45px;
    color:grey;
    font-size:14px;
    width:370px;
    
}
#proinfoAvan{
    color:grey;
    font-size:13.5px;
    font-weight:500;
    width:191px;
}
#proinfoAvan:hover{
    color:red;
    font-size:13.5px;
    font-weight:500;
    width:191px;
}
#proinfoCol1{
    padding-left:50px;
}
.proinfoCol1{
    padding-left:50px;
}
#proinfoAll{
    padding-top:150px;
    margin-right:60px;
    margin-left:20px;
    text-align:justify;
}
#proinfoDesc2{
    margin-top:90px;
    margin-left:35px;
    color:white;
    font-size: 13px;
    line-height: 1.3;
    font-weight:500;
    width:910px;
}
#proinfoIcon5{
    display:flex;
    margin-top:10px;
}
.profa-facebook{
    color:#2252d1;
}
.profa-instagram{
    color:#ffffff;
}
.profa-whatsapp{
    color:#08C70C;
}
.profa-tiktok{
    color:#fff;
}
.profa-youtube{
    color:red;
}