

.pt-20{
    padding-top:5rem;
    margin-right:65.5px;
}
.react-multiple-carousel__arrow--right{
    margin-top:-379px;
    border-radius: 0 50% 50% 0;
    min-width: 20px; /* Adjust according to your preference */
    min-height: 20px;
    
}
.react-multiple-carousel__arrow--right::before{
    font-size:15px;
}
.react-multiple-carousel__arrow--left::before{
    font-size:15px;
}

.react-multiple-carousel__arrow--left{
    margin-top:-379px;
    margin-left:26.7cm;
    border-radius: 50% 0 0  50% ;
    min-width: 20px; /* Adjust according to your preference */
    min-height: 20px;
}
#MegaP{
    
    background-color: rgb(185 28 28);
    margin-right:985px;
    margin-top:20px;
    font-size:17px;
    color:white;
    font-weight:bold;
    text-align:center;
    padding:10px 10px 10px 10px;
}

