#results-lists{
    margin-top:60px;
    width:510px;
    background-color:white;
    display:flex;
    flex-direction:column;
    border: 1px solid #e5e5e5;
    max-top:1rem;
    max-height:300px;
    overflow-y:scroll;
    position: absolute; /* Position absolutely */
    z-index: 1; 
    top:165px;
}