#input-wrapper {
    
    display: flex;
    align-items: start ;
    
    
}
#Two{
    margin:60px 0px 0px 0px;
}
input {
   font-size:1.2rem;
   border:1px solid #e5e5e5; 
   padding:7.5px 200px 6.5px 30px;
   margin-bottom:70px;
}

input:focus{
    outline:none;
}
#new-icon{
    color:white;
}
#button-search{
    background-color:#B20808;
    padding:10px 10px 9px 10px;
    border:1px solid #B20808;
    margin-top:20px;
    margin-left: 0px;
}
#button-search:hover{
    background-color:black;
    
}
#SearchRL{
    max-padding:0px;
}
#ImgP{
    width:40px;
    margin-top:2px;
}

.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    margin-top: -27px;
    
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
    
}

#Panier{

    padding-left:150px;
    padding-right:35px;
    font-size:20px;
    font-weight:bold;
}
#vide{

    padding-left:158px;
    padding-right:35px;
    color: grey;
}
.Accp{
    display:flex;
    flex-items:center;
}
#Fbarp{
    margin-top:12px;
}
#P1p{
    padding-left:40px;
    font-weight:600;
    color:#555;
}
#P1p:hover{
    color:rgb(220 38 38);
}
.P2p{
    color:rgb(220 38 38);
    font-weight:600;
    padding-left:40px;
}
#I2p{
    color:#555;
    margin-left:30px;
}
#P3p{
    color:#555;
    font-weight:600;
    padding-left:15px;
}